<configuration scan="true">

    <!-- Insert the current time formatted as "yyyyMMdd'T'HHmmss" under
       the key "bySecond" into the logger context. This value will be
       available to all subsequent configuration elements. -->
    <timestamp key="byDay" datePattern="yyyyMMdd'T'HHmmss"/>

    <property name="DEV_HOME" value="/home/dea/Development/Beaconite/app/src/main/LogFiles"/>


    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{12}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%20thread] %msg</pattern>
        </encoder>
    </appender>

    <!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--<file>/home/dea/Development/Beaconite/app/src/main/LogFiles/application.log</file>-->
    <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--&lt;!&ndash; daily rollover. Make sure the path matches the one in the file element or else-->
    <!--the rollover logs are placed in the working directory. &ndash;&gt;-->
    <!--<fileNamePattern>/home/dea/Development/Beaconite/app/src/main/LogFiles/application_%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->

    <!--<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
    <!--<maxFileSize>5MB</maxFileSize>-->
    <!--</timeBasedFileNamingAndTriggeringPolicy>-->
    <!--&lt;!&ndash; keep 30 days' worth of history &ndash;&gt;-->
    <!--<maxHistory>30</maxHistory>-->
    <!--</rollingPolicy>-->

    <!--<encoder>-->
    <!--<charset>UTF-8</charset>-->
    <!--<pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>-->
    <!--</encoder>-->
    <!--</appender>-->

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${DEV_HOME}/application.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="logcat"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>

<!--
<configuration>
<timestamp key="byDay" datePattern="yyyyMMdd'T'HHmmss"/>

<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>INFO</level>
        <onMatch>ACCEPT</onMatch>
        <onMismatch>DENY</onMismatch>
    </filter>
    <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
</appender>

<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file> log-${byDay}.txt </file>
    <append>true</append>
    <encoder>
        <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
</appender>

<root level="debug">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
</root>

</configuration>

    https://examples.javacodegeeks.com/enterprise-java/logback/logback-additivity-example/-->
